smartmesh.drmacedo.tech {
    handle /api/* {
        reverse_proxy localhost:3000
    }

    handle /webrtc/* {
        uri strip_prefix /webrtc
        reverse_proxy localhost:8889
    }

    handle {
        reverse_proxy localhost:8080
    }
}
